*.pyc
!index.pyc
/target/
.vscode/*
issue-scanner/test/
issue-scanner/src/reposca/tempJson/
issue-scanner/src/reposca/tempSrc/
issue-scanner/src/reposca/temp/
*/__pycache__/
*.csv
issue-scanner/src/repoSig.py
issue-scanner/src/reposca/csvtest.py
.VSCodeCounter
issue-scanner/src/reposca/json.txt
issue-scanner/src/reposca/cleanData.py
issue-scanner/src/reposca/config/Regular.yaml
issue-scanner/src/temporg.yaml
